  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
  </head>
  <body>
    <!-- My navbar -->
  <div class="nav-content">
    <mat-toolbar class="toolbar" color="secondary" >

      <button mat-icon-button matTooltip="Home" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/user']">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button [routerLink]="['/user']">Home</button>
      
      <button mat-icon-button matTooltip="Search Artist"class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/artists']">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-button [routerLink]="['/artists']">Search Artist</button>
      
      <button mat-icon-button matTooltip="Search Album" class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/albums']">
        <mat-icon>album</mat-icon>
      </button>
      <button mat-button [routerLink]="['/albums']">Search Album</button>
      
      <button mat-icon-button matTooltip="View my favorites" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/favorite']">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-button [routerLink]="['/favorite']">Favorite</button>
      
      <button mat-icon-button matTooltip="View gallery" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/gallery']">
        <mat-icon>collections</mat-icon>
      </button>
      <button mat-button [routerLink]="['/gallery']">Gallery</button>
      
      <button class="logout-btn" mat-flat-button color="primary" [routerLink]="['/logout']">Logout</button>
  
  
    </mat-toolbar>
  </div>
<!-- My navbar -->
  
<h1>See what other people are sharing</h1>

<!-- <div id="image-container"></div>
<button class="btn" type="button" mat-raised-button color="primary"  (click)="getBlob()">View Next</button> -->

<mat-card class="example-card">
    <mat-card-actions>
        <button class="btn" type="button" mat-raised-button color="primary"  (click)="getBlob()">View Next</button>
      </mat-card-actions>
    <mat-card-content>
    <div id="image-container"></div>
    </mat-card-content>
    
  </mat-card>   
  </body>
  </html>

  
  




