<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Album</title>
</head>
<body>
  
<!-- My navbar -->
<div class="nav-content">
  <mat-toolbar class="toolbar" color="secondary" >

    <button mat-icon-button matTooltip="Home" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/user']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button [routerLink]="['/user']">Home</button>
    
    <button mat-icon-button matTooltip="Search Artist"class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/artists']">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button [routerLink]="['/artists']">Search Artist</button>
    
    <button mat-icon-button matTooltip="Search Album" class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/albums']">
      <mat-icon>album</mat-icon>
    </button>
    <button mat-button [routerLink]="['/albums']">Search Album</button>
    
    <button mat-icon-button matTooltip="View my favorites" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/favorite']">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button [routerLink]="['/favorite']">Favorite</button>
    
    <button mat-icon-button matTooltip="View gallery" class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/gallery']">
      <mat-icon>collections</mat-icon>
    </button>
    <button mat-button [routerLink]="['/gallery']">Gallery</button>
    
    <button class="logout-btn" mat-flat-button color="primary" [routerLink]="['/logout']">Logout</button>


  </mat-toolbar>
</div>

<!-- My navbar -->

<form [formGroup]="albumForm" (ngSubmit)="searchAlbum()" class="example-form">
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Album</mat-label>
    <input type="text" matInput formControlName="q" placeholder="Eg. black pink">
    <mat-error *ngIf="albumForm?.get('q')?.touched && albumForm?.get('q')?.hasError('required')">
      Please enter an <strong>album title</strong>
    </mat-error>
  </mat-form-field>
  <input type="hidden" value="album" formControlName="type">
  <mat-form-field class="example-full-width">

  <mat-label>Limit</mat-label>
    <input type="number" min="1" max="15" matInput formControlName="limit" placeholder="Eg.1 - 15">
    <mat-error *ngIf="albumForm?.get('limit')?.touched && albumForm?.get('limit')?.hasError('min') || albumForm?.get('limit')?.touched && albumForm?.get('limit')?.hasError('max')">
      Please enter between <strong>1 - 15</strong>
    </mat-error>
    <mat-error *ngIf="albumForm?.get('limit')?.touched && albumForm?.get('limit')?.hasError('required')">
      Please enter <strong>number</strong>
    </mat-error>
  </mat-form-field>
<button class="btn" type="submit" [disabled]="albumForm.get('q')?.invalid || albumForm.get('limit')?.invalid" mat-raised-button color="primary">Search</button>


<div *ngFor="let alb of album">
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
          <h1>{{alb.name}}</h1>  
        </mat-card-title>
        <mat-card-subtitle><strong> id:{{alb.id}}</strong></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{alb.images[0].url}}" >
    <mat-card-content>
      <h3>Release date: {{alb.release_date}}</h3>
      <!-- <h3>Followers: {{art.followers.total}}</h3> -->
      <!-- <h3>Popularity: {{art.popularity}}</h3> -->
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button color="primary" (click)="saveAlbum(alb); popup = true">SAVE</button>
      
      <div class="overlay" *ngIf="popup && selectedAlbum === alb">
        <div class="popup">
          <h1>{{alb.name}}</h1>
          <h2>Saved Successfully</h2>
          <img src="{{alb.images[0].url}}" alt="" width="200">
          <a class="close" (click)="popup = false">&times;</a>
          <div class="content">
          <a href="{{alb.external_urls.spotify}}" target="_blank"> View album on Spotify </a>
          <br>
          <button mat-icon-button matTooltip="View my favorites" color="warn" [routerLink]="['/favorite']">
            <mat-icon>favorite</mat-icon>
          </button>
          </div>
        </div>
      </div>
      &nbsp;
      <button mat-raised-button color="accent" (click)="goSpotify(alb.external_urls.spotify)">Go to Spotify</button>
    </mat-card-actions>
  </mat-card>   
    </div>  
</form>
<!-- ------------------------------------------------------------------------------------ -->
<!-- <form [formGroup]="albumForm" (ngSubmit)="searchAlbum()">

  <table>
      <tr>
        <td>Album: </td>
        <td>
          <input type="text" placeholder="Search by albums" size="30"  formControlName="q">

          <div *ngIf="albumForm?.get('q')?.invalid && albumForm.get('q')?.touched">
              <div *ngIf="albumForm?.get('q')?.touched && albumForm?.get('q')?.hasError('required')">Cannot be empty</div>
            </div>
          
        </td>
      </tr>
     
      <tr>
          <td></td>
          <td>
            <input type="hidden" value="album" formControlName="type">
          </td>
        </tr>
      <tr>
        <td>Limit: </td>
        <td>
          <input type="number" value="5" min="5" max="25" step="5" size="30" formControlName="limit">

          <div *ngIf="albumForm?.get('limit')?.invalid && albumForm.get('limit')?.touched">
              <div *ngIf="albumForm?.get('limit')?.touched && albumForm?.get('limit')?.hasError('required')">Please Enter Limit.</div>
              <div *ngIf="albumForm?.get('limit')?.touched && albumForm?.get('limit')?.hasError('min')">Minimum must be 5.</div>
              <div *ngIf="albumForm?.get('limit')?.touched && albumForm?.get('limit')?.hasError('max')">Maximum must be 25.</div>
            </div>


        </td>
      </tr>
      
      <button type="submit" [disabled]="albumForm.get('q')?.invalid">Search</button>
  </table>
  
  <div *ngFor="let alb of album">
    <img src="{{alb.images[0].url}}" alt="">
    <h3>ID: {{alb.id}}</h3>
    <h3>NAME: {{alb.name}}</h3>
    <a href="{{alb.external_urls.spotify}}" target="_blank">EXTERNALURL: </a>
    <h3>IMAGE: {{alb.images[0].url}}</h3>
    <h3>RELEASE DATE: {{alb.release_date}}</h3>
    <input type="button" value="{{alb.id}}" (click)="saveAlbum(alb.id)"> 
    <button type="button" (click)="saveAlbum(alb); popup = true">Save this Album</button>
 
    <div class="overlay" *ngIf="popup && selectedAlbum === alb">
      <div class="popup">
        <h1>{{alb.name}}</h1>
        <h2>Saved Successfully</h2>
        <img src="{{alb.images[0].url}}" alt="" width="200">
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content">
        <a href="{{alb.external_urls.spotify}}" target="_blank"> Click to go to Spotify to see this Artist </a>
      </div>
  </div>
</div>  
 
</div>  
    

</form> -->
</body>
</html> 
 
 